:root {
  --table-radius: 5px;
  --table-border-color: #f7f7f7;
}

[data-theme="dark"] {
  --table-border-color: #606770;
}

.doc-table-list {
  width: 100%;



  table {
    border: 1px solid var(--table-border-color);
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: var(--table-radius);

    tbody tr {
      position: relative;
    }

    tr:first-child th:first-child {
      border-top-left-radius: var(--table-radius);
    }

    tr:first-child th:last-child {
      border-top-right-radius: var(--table-radius);
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: var(--table-radius);
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: var(--table-radius);
    }

    thead tr th {
      width: 100vw;
      text-align: left;
    }

    tbody tr:hover:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 0px);
      height: calc(100% - 0px);
      cursor: pointer;
      border-color: var(--ifm-color-primary);
      box-shadow: inset 0 0 5px 2px var(--ifm-color-primary);
      z-index: 999;
      //margin: 5px;
    }
  }
}
