/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg {
  width: 25px;
}

.space {
  width: 5px;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.link {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

[data-theme="dark"] .link {
  background-color: #1b1b1d;
  border-color: #1b1b1d;
}


