@import "theme.custom.css";

:root {
  --border-color: #ececec;
  --navigator-container-bg: #fff;
  --tooltip-color-bg: #fff;
  --tooltip-color: #2c2b2b;
}

[data-theme='dark'] {
  --border-color: #282828;
  --navigator-container-bg: #2c2e2f;
  --tooltip-color-bg: #1b1b1d;
  --tooltip-color: #a0a1a1;
}

.navigator-container {
  .tooltip {
    background-color: var(--tooltip-color-bg);
    color: var(--color);
    border-radius: 10px;
    transition: none !important;
  }
}

.navbar-tooltip {
  .ant-tooltip-inner {
    color: var(--tooltip-color) !important;
  }
}

.color {
  color: var(--color);
}

.border {
  border: 1px solid var(--border-color);
}

.navigator-container .content {
  background-color: var(--navigator-container-bg);
}

.tag-container {
  display: flex;
  align-items: center;
  margin: 10px 0;

  svg {
    width: 30px;
    margin-right: 10px;
  }
}


.navigator-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: -10px;

  .box {
    cursor: pointer;
    transition: all 0.3s ease;

    a {
      list-style: none;
      text-decoration: none;
    }
  }

  .content {
    transition: transform 0.2s ease;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 110px;

    .navbar-icon {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      border-radius: 50%;
    }

    .desc {
      width: calc(100% - 70px);
      .title {
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .small {
        font-size: 12px;
        color: #a0a1a1;
      }
    }
  }

  .box:hover {
    .content {
      transform: translateY(-10px);
      box-shadow: 0 0 20px rgba($color: #004ca3, $alpha: 0.1);
    }

    .navbar-icon {
      transform: rotate(360deg);
      transition: all 0.5s ease;
    }

  }


}

.tag-container {
  display: flex;
  align-items: center;
  margin: 10px 0;

  svg {
    width: 30px;
    margin-right: 10px;
  }
}

/**
响应式媒体
 */
@media screen and (min-width: 997px) {
  .navigator-container {
    .box {
      width: calc(100% / 4  - 60px / 4); /* 每个div宽度为25%，减去边距的宽度 */
      margin: 10px;
    }

    .box:nth-child(4n + 1) {
      margin-left: 0;
    }

    .box:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 996px) {
  .navigator-container {
    .box {
      width: calc(100% / 3 - 40px / 3);
      margin: 10px;
    }

    .box:nth-child(3n + 1) {
      margin-left: 0;
    }

    .box:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navigator-container {
    .box {
      width: calc(50% - 10px);
      margin: 10px;
    }

    .box:nth-child(2n + 1) {
      margin-left: 0;
    }

    .box:nth-child(2n + 2) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .navigator-container {
    .box {
      width: 100%;
      margin: 10px 0;
    }
  }
}